img {
    width: 50px;
    height: 50px;
}

.container {
    margin-top: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    color: burlywood;
    font-family: 'EF_jejudoldam';
}

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.button-group {
    width: 200px;
    font-family: 'KyoboHand';
  }
 
  .button-group button {
    flex-direction: column;
  }
.section {
    width : 1000px;
    height : 500px;
    display: inline-block;
}

