body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cake-image {
    cursor: pointer;
    border-radius: 50%;
    width: 500px; /* 이미지 크기 조절 /
    margin-bottom: 10px; / 이미지 사이의 간격 조절 /
}
.cake-image:first-child {
    width: 600px; / 첫 번째 이미지 크기 조절 /
}
.cake-image:last-child {
    width: 400px; / 두 번째 이미지 크기 조절 */
}